*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
.float-left{
  float: left;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.br-10{
  border-radius: 10px;
}
/*Fine Utility*/

.container{
  width: 75vw;
  margin: auto;
  background-image: url("../img/natural-default-pattern.png");
}

header{
  width: 75vw;
  height: 300px;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  background: white;
}

#intestazione{
  width: 73vw;
  height: 250px;
  margin: auto;
  background-image: url("../img/natural-default-header.jpg");
  background-size: cover;
  background-position: center;
}

.logo{
  width: 40%;
}

h1{
  color: white;
}

h2{
  font-size: 1.2em;
}

nav{
  width: 75vw;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #696969;
}

nav > ul > li{
  /*0 pixel sopra e sotto, 10px sinistra e destra*/
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

nav > ul > li:hover{
  background-color: darkgrey;
}

nav > ul > li > a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  display: inline-block;
  height: 100%;
}

aside.temi{
  width: 19%;
  height: 350px;
  background: white;
  padding: 20px;
  margin-right: 1%;
}

.rss{
  color: orange;
  cursor: pointer;
}

aside.temi ul > li{
  list-style: none;
  color: green;
}

main{
  width: 59%;
  height: 250px;
  background: white;
  padding: 20px;
  margin-right: 1%;
}

aside.contenitore-widgets{
  width: 20%;
  height: 1000px;
}

.widget{
  width: 95%;
  height: 300px;
  padding: 20px;
  background-color: white;
  margin-left: 5%;
  /*in attesa delle lezioni sul css responsive*/
  overflow: hidden;
}

footer{
  width: 75vw;
  height: 150px;
  text-align: center;
  margin-bottom: 20px;
  background-color: lightgrey;
  color: grey;
}

.foot-icon{
  font-size: 4em;
  padding: 3% 10%;
}

.foot-icon:hover{
  cursor: pointer;
  color: blue;
}
